
services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=myStrongPassword
      - N8N_PUBLIC_API_DISABLED=false
      - N8N_ENFORCE_SETTINGS_FILE=true
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
    env_file:
      - ./.env
    volumes:
      - ./n8n_data:/home/node/.n8n
    networks:
      - task-network 

networks:
  task-network:
    name: task-manager-system_default
    external: true

